body {
  font-family: Arial
}

.header {
  background-color: #aa2217;
  color:#FFFFFF;
  overflow: hidden;
  padding: 10px 20px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

.header-right {
  float: right;
}

a {
  color:#FFFFFF;
}
