body {
  font-family: Arial;
  font-size: 12px;
}

p {
  padding: 5px;
}

a {
  color:#FFFFFF;
}

.sidebar {
  float: right;
  margin-left: 50px;
  margin-right: 20px;
}

.sidebar img {
  width: 175px;
}




h1 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

h3 {
  padding: 10px, 0px;
  font-weight: bold;
  font-size: 12px;
}




.header {
  background-color: #aa2217;
  color:#FFFFFF;
  overflow: hidden;
  padding: 15px 20px;
}
.header-right {
  float: right;
}

.sub-header {
  background-color: #333333;
  display: block;
  overflow: hidden;
  padding: 10px 20px;
}
.sub-header a {
  float: right;
  padding: 5px
}

.main-section {
  padding: 10px;
}
